<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>TOWebViewController</string>
	<key>easyrss</key>
	<dict>
		<key>easyrss://setting</key>
		<string>SettingScene</string>
		<key>easyrss://topic</key>
		<string>TopicListScene</string>
		<key>easyrss://fav</key>
		<string>FavScene</string>
		<key>easyrss://feed</key>
		<string>RssListScene</string>
	</dict>
</dict>
</plist>
